<element name="x-foo">
	<template>
		Ooga <content></content> Booga
	</template>
	<script>
		this.component.prototype = {
			exports: [
				"munge"
			],
			munge: function() {
				this.lightdom.innerHTML = "[x-foo.munge() was here]";
			}
		};
	</script>
</element>

<element name="x-hasfoo">
	<template>
		[=P] <x-foo><content></content></x-foo> [=P]
	</template>
	<script>
		this.component.prototype = {
			exports: [
				"munge"
			],
			munge: function() {
				this.lightdom.innerHTML = "munge";
			}
		};
	</script>
</element>

<element name="x-bar" extends="x-foo">
	<template>
		My Foo ancestor says: <shadow></shadow>
	</template>
</element>

<element name="x-zot" extends="x-bar">
	<template>
		Zot's pre-Bar content: <content select="span"></content>
		<br/>
		My Bar ancestor says: <shadow></shadow>
		<br/>
		Zot's post-Bar content: <content></content>
	</template>
</element>